main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

main>.container-fluid {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.heroText {
    font-family: modesto-open-shadow, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffff00;
}

.bgImage {
    background-image: url("/img/tron-bg.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #212121;
}

.minHeight {
    min-height: 75vh;
}