body {
    background-image: url("/img/tron-bg.jpg");
    background-color: #212121;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
    color: honeydew;
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}